* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu", Helvetica, serif;
    font-weight: 100;
}

p {
    color: #333;
}

body {
    font-family: "Ubuntu", Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    align-self: center;
    position: absolute;
    flex-direction: column;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .login {
        width: 40% !important;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .login {
        width: 60% !important;
    }    
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .login {
        width: 70% !important;
    } 
}


/* Título */
.title {
    width: 100%;
    padding: 30px 0;
    background-color: #39bbfc;
    color: #FFF;
    text-align: center;
    margin: 0;
}

/* Div dos campos com login, senha e botão */
.login {
    width: 92%;
    display: flex;
    margin: auto;
    position: relative;
    box-shadow: 2px 3px 10px -4px rgba(0,0,0,0.75);
}

.form-login {
    width: 100%;
    background-color: #FFF;
}

.fields-labels {
    color: #333;
    margin: 50px;
}

.fields {
    margin: 12px 0;
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #39bbfc;
    outline: none;
    cursor: pointer;
}

#btn {
    background-color: #39bbfc;
    width: 100%;
    color: #FFF;
    font-size: 1.5em;
    padding: 13px 0;
    margin: 20px 0;
    border: none;
    cursor: pointer;
}