* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu",serif;
    font-weight: bold;
}

p {
    color: #525252;
}

body {
    font-family: "Ubuntu", Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 1.2em !important;
    background-color: #5a5a5a;
}

/* Grid Layout */
.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        'main main'
        'aside aside';
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.aside {
    grid-area: aside;
    background-color: #39bbfc;
    height: 100%;
    position: absolute;
}

.form-area {
    grid-area: div;
}

/* 
    ##Device = Laptops, Desktops and higher resolution desktops
    ##Screen = B/w 1025px
*/

@media (min-width: 1025px) {
    .aside {
        width: 37% !important;
    }

    .form-area {
        width: 63% !important;
        margin-top: 0 !important;
    }
}

/* Smartphones Mobiles (Portrait) / Tablets, Ipads (Portrait) */
.aside {
    width: 100%;
}

.welcome-message {
    text-align: center;
    font-size: 1.8em;
    padding: 15px;
    color: #000;
    font-weight: 100;
}

.item {
    text-align: center;
    font-size: 1.5em;
    padding: 15px;
}

.item:hover {
    background-color: #1A92CD;
}

.item-link {
    text-decoration: none;
    color: #FFF;
}

.button-align {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

#btn {
    background-color: #FFF;
    padding: 8px 22px;
    margin: 10% 5%;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}