* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", Helvetica, sans-serif;
    line-height: 1.5;
}

/* Grid Layout */
.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        'main main'
        'aside div';
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.aside {
    grid-area: aside;
    background-color: #39bbfc;
    height: 100vh;
}

.form-area {
    grid-area: div;
    height: 100vh;
}

/* Tablets, Notebooks e Desktops */
@media (min-width: 491px) and (max-width: 1400px) { 
    .aside {
        width: 40%;
    }

    .item {
        text-align: center;
        font-size: 1.5em;
    }

    .item:hover {
        background-color: #1A92CD;
    }

    .item-link {
        text-decoration: none;
        color: #FFF;
        display: block;
        padding: 15px;
    }

    a.active {
        background-color: #1A92CD;
    }

    .button-align {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }

    #btn {
        background-color: #FFF;
        padding: 8px 22px;
        margin: 10% 5%;
        border: none;
        border-radius: 50px;
        cursor: pointer;
    }

    /* publicação da noticia */
    .form-area {
        background-color: #5a5a5a;
        width: 60%;
        padding: 15px;
    }
    
    .form-news {
        display: flex;
        flex-direction: column;
        color: #FFF;
    }

    .fields {
        margin: 5px 0;
        padding: 0 5px;
        height: 30px;
        border: none;
        border-radius: 4px;
    }

    #news {
        margin: 5px 0;
        padding: 0 5px;
        border: none;
        border-radius: 4px;
    }
}

/* Smartphones Mobiles (Portrait) */

@media (min-width: 320px) and (max-width: 490px) {  
    .aside {
        width: 100%;
    }
    
    .item {
        text-align: center;
        font-size: 1.5em;
    }

    .item:hover {
        background-color: #1A92CD;
    }

    .item-link {
        text-decoration: none;
        color: #FFF;
        display: block;
        padding: 15px;
    }

    a.active {
        background-color: #1A92CD;
    }

    .button-align {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }

    #btn {
        background-color: #FFF;
        padding: 8px 22px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
    }

    /* publicação da noticia */
    .form-area {
        background-color: #5a5a5a;
        width: 100%;
        margin-top: 30px;
        padding: 15px;
    }
    
    .form-news {
        display: flex;
        flex-direction: column;
        color: #FFF;
    }

    .fields {
        margin: 5px 0;
        padding: 0 5px;
        height: 30px;
        border: none;
        border-radius: 4px;
    }

    #news {
        margin: 5px 0;
        padding: 0 5px;
        border: none;
        border-radius: 4px;
    }
}