* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu",serif;
    font-weight: bold;
}

p {
    color: #525252;
}

body {
    font-family: "Ubuntu", Helvetica, sans-serif;
    line-height: 1.5;
}

/* Grid Layout */
.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        'nav nav nav'
        'main main main'
        'footer footer footer';
}

.navigation-bar {
    grid-area: nav;
    display: flex;
    align-items: center;
    padding: 15px 0;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.70);
}

.main-content {
    grid-area: main;
    margin-top: 20px;
}

.footer {
    grid-area: footer;
    display: block;
    margin-top: 30px;
    background-color: #333;
}

/* Smartphones Mobiles (Portrait) */

@media (min-width: 320px) and (max-width: 1481px) {
    /* Menu */
    .logo {
        text-align: center;
        margin: auto;
        font-family: 'Oxygen', sans-serif !important;
        font-size: 1.6em;
        font-weight: 100;
        color: #1A92CD;
    }

    #logo-span {
        font-weight: bold;
    }

    /* Hamburguer */
    .toggle {
        margin-left: 4%;
        text-align: left;
        font-size: 1.5em;
        display: block;
        cursor: pointer;
    }
    
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.9);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #FFF;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        text-decoration: underline;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    /* Conteúdo principal */
    .news {
        width: 94%;
        height: auto;
        margin: auto;
    }

    .news-img {
        max-width: 100%;
    }

    .news-title {
        width: 78%;
    }

    .date-section {
        display: flex;
        margin-top: 10px;
        font-size: 0.9em;
    }

    .section {
        color: #27EA79;
        font-weight: bold;
        margin-left: 50px;
    }

    .section:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .post {
        margin-top: 10px;
    }

    .more {
        display: block;
        text-align: center;
        border: 2px solid #1A92CD;
        padding: 10px 0;
        margin-top: 10px;
        text-decoration: none;
        font-weight: bold;
        color: #1A92CD;
    }

    .more:hover {
        background-color: #1A92CD;
        color: #FFF;
        text-decoration: underline;
    }

    /* Últimas notícias */
    .news-list {
        background-color: #ededed;
        display: block;
        list-style: none;
    }

    .news-list p {
        padding: 10px;
    }

    .news-items {
        border-bottom: 1px solid #c1c1c1;
    }

    .news-items a {
        text-decoration: none;
        color: #525252;
    }

    .news-items a:hover {
        color: #000;
    }

    .time {
        color: #f01d4f;
        font-weight: bold;
    }

    /* Rodapé */
    .footer h1 {
        font-family: 'Oxygen', sans-serif !important;
        font-size: 1.6em;
        font-weight: 100;
        color: #1A92CD;
        margin-left: 4%;
        margin-right: 2%;
        border-bottom: 1px solid #FFF;
    }
    .logo-footer {
        text-decoration: none;
        color: #1A92CD;
    }

    .items {
        display: flex;
        width: 94%;
        margin: auto;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        font-size: 0.8em;
    }

    .items p {
        display: block;
        color: #FFF;
        margin: 0 5px 15px 0;
    }

    .list {
        position: relative;
        margin-bottom: 15px;
    }

    .list-items {
        display: inline;
        margin: 0 5px;
    }

    .list-items a {
        text-decoration: none;
        text-align: right;
        color: #FFF;
    }

    .list-items a:hover {
        text-decoration: underline;
    }
}